<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/changePass/changePass.css">
    <title>Document</title>
</head>
<body>
    <div class="changePass">
        <label for="username"> username</label>
        <input type="text" name="" id="username"> <br>
        <label for="password">password</label>
        <input type="text" name="" id="password"> <br>
        <label for="newPassword">newPassword</label>
        <input type="text" name="" id="newPassword"> <br>
        <label for="comfirmPassword">comfirmpassword</label>
        <input type="text" name="" id="comfirmPassword"> <br>
        <button onclick="update()">update</button>
        <p id="error-text"></p>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/view/changePass/changepass.js"></script>
</html>